- @cur_hash.each do |currency, period|
	%p
	%tr= currency.to_s + " --------------------------------------------------------"
	%br
	- period.each do |per, stats|
		%td= per.to_s.ljust(10, '*')
		- stats.each do |stat, val|
			%td= stat.to_s + ": " + val.to_s
		%br